<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}My Django App</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'app/main.css' %}">
</head>
<body>
  <nav class="navbar">
    <a href="/" class="navbar-title">MyChat</a>
    <div class="navbar-links">
      {% if request.user.is_authenticated %}
      <a href="/rooms/" class="text-white hover:text-gray-200">Rooms</a>
  <form action="{% url 'logout' %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="rooms-link">LogOut</button>
  </form>
{% else %}
  <a href="{% url 'login' %}" class="navbar-link">LogIn</a>
  <a href="{% url 'signup' %}" class="navbar-link">SignUp</a>
{% endif %}

    </div>
  </nav>

  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  <script>
    // Ensure the cursor disappears as soon as the subtitle pops up
    window.addEventListener('DOMContentLoaded', (event) => {
      const heroSubtitle = document.querySelector('.hero-subtitle');
      
      // Add a timeout to remove the cursor after the typing animation starts
      setTimeout(() => {
        heroSubtitle.classList.add('no-cursor');
      }, 2000); // 3500ms is the duration of the typing animation
    });
  </script>
</body>
</html>
